<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>R-rally</title>
    <link rel="stylesheet" href="./../libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./../style/application.css"/>
</head>
<body>
<svg></svg>
<div class="row">
    <div class="col-lg-1" id="select">

    </div>
    <div class="col-lg-10">
        <div class="row card">
            <div class="col-lg-12">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="row card">
            <button class="btn btn-primary">添加</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1" id="list">
        <div id="demo">
            <div class="row card">
                <div class="col-lg-12">
                    時間： 發射點發射點發射點發射點發
                </div>
            </div>
            <div class="row card">
                <div class="col-lg-12">
                    時間： 發射點發射點發射點發射點發
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="./../libs/jquery/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="./../libs/bootstrap/js/bootstrap.min.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="./../js/application.js"></script>
</body>
</html>