<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R-rally</title>
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div style="margin-left: 10%;width: 80%;margin-top: 20px;">
    <canvas id="image-canvas"></canvas>
</div>
<div style="text-align: center;">
    <input type="file" name="file-input" style="display: none;">
    <button name="upload-button" class="btn btn-primary">Select Image</button>
    <p>
        <button name="handle-button" class="btn btn-primary">Handle Image</button>
    </p>
</div>

<div style="margin-left: 20%;width: 60%;margin-top: 20px;">
    <canvas id="photo-canvas"></canvas>
</div>

<div style="display: none">
    R:<input type="number" id="r" value="10" max="100" min="0">
    G:<input type="number" id="g" value="59" max="100" min="0">
    B:<input type="number" id="b" value="11" max="100" min="0">
    A:<input type="number" id="a" value="100" max="100" min="0">
    <button name="refresh">Refresh</button>
</div>

<script src="./../node_modules/jquery/dist/jquery.min.js"></script>
<script src="./../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./../bundle/image.bundle.js"></script>
</body>
</html>