node_modules/
.idea/
app/client/node_modules/
app/client/.idea/
app/server/utils/info.log
app/server/utils/exceptions.log
app/client/bundle/
document/rally.mwb.bak
app/server/db/pool.js
document/nouse/model'/timeLine
document/nouse/timeLine