{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "jasmine": true
  },
  //  "plugins": [
  //    "flowtype"
  //  ],
  "globals": {
    "ReactElement": true,
    "document": true,
    "window": true,
    "location": true,
    "FileReader": true
  },
  "rules": {
    "eqeqeq": [
      2,
      "allow-null"
    ],
    "quotes": 0,
    "object-curly-spacing": 0,
    "space-before-blocks": 0,
    "arrow-body-style": [
      "error",
      "as-needed",
      {
        "requireReturnForObjectLiteral": true
      }
    ],
    "max-len": [
      "error",
      120
    ],
    "linebreak-style": [
      "error",
      "windows"
    ],
    "no-trailing-spaces": 0,
    "id-length": 0,
    "no-nested-ternary": 0,
    "comma-dangle": 0,
    "no-multiple-empty-lines": 0,
    "react/no-did-mount-set-state": 2,
    "react/no-multi-comp": 0,
    "react/jsx-closing-bracket-location": [
      1,
      {
        "selfClosing": "after-props"
      }
    ],
    "react/jsx-boolean-value": [
      2,
      "always"
    ],
    "react/sort-comp": [
      2,
      {
        "order": [
          "displayName",
          "propTypes",
          "contextTypes",
          "childContextTypes",
          "mixins",
          "statics",
          "defaultProps",
          "getDefaultProps",
          "getInitialState",
          "getChildContext",
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount",
          "/^on.+$/",
          "/^get.+$/",
          "/^render.+$/",
          "/^.+$/",
          // All other methods go here
          "render"
        ]
      }
    ]
    //flow
    //    "flowtype/boolean-style": [
    //      2,
    //      "boolean"
    //    ],
    //    "flowtype/define-flow-type": 1,
    //    "flowtype/delimiter-dangle": [
    //      2,
    //      "never"
    //    ],
    //    "flowtype/generic-spacing": [
    //      2,
    //      "never"
    //    ],
    //    "flowtype/no-weak-types": 2,
    //    "flowtype/object-type-delimiter": [
    //      2,
    //      "comma"
    //    ],
    //    "flowtype/require-parameter-type": 2,
    //    "flowtype/require-return-type": [
    //      2,
    //      "always",
    //      {
    //        "annotateUndefined": "never"
    //      }
    //    ],
    //    "flowtype/require-valid-file-annotation": 2,
    //    "flowtype/semi": [
    //      2,
    //      "always"
    //    ],
    //    "flowtype/space-after-type-colon": [
    //      2,
    //      "always"
    //    ],
    //    "flowtype/space-before-generic-bracket": [
    //      2,
    //      "never"
    //    ],
    //    "flowtype/space-before-type-colon": [
    //      2,
    //      "never"
    //    ],
    //    "flowtype/type-id-match": [
    //      2,
    //      "^([A-Z][a-z0-9]+)+Type$"
    //    ],
    //    "flowtype/union-intersection-spacing": [
    //      2,
    //      "always"
    //    ],
    //    "flowtype/use-flow-type": 1,
    //    "flowtype/valid-syntax": 1
  }
  //  "settings": {
  //    "flowtype": {
  //      "onlyFilesWithFlowAnnotation": false
  //    }
  //  }
}
