<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>R-rally</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../style/timeLine/timeLine.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <svg/>
        </div>
        <div class="col-lg-6" style="margin-top: 20px;">
            <div class="row">
                <div class="col-lg-2" id="select">
                </div>
                <div class="col-lg-9 card">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Add Sub Event" name="subEvent">
                        <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="sub-event-button">Add Sub Event</button>
            </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-lg-offset-2 card">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Add Progress" name="progress">
                        <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="add-progress-btn">Add Progress</button>
            </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-lg-offset-2" id="list">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row card" id="demo" style="display: none;">
    <div class="col-lg-6">
        <span class="date"></span>
    </div>
    <div class="col-lg-6">
        <span class="content"></span>
    </div>
</div>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<!--<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="../../bundle/basic.bundle.c8c73798d1c53e79bd7b.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="../../bundle/timeLine.bundle.c8c73798d1c53e79bd7b.js"></script>
</body>
</html>