<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>R-rally</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../style/timeLine/timeLine.css">
</head>
<body>
<svg/>
<div class="row">
    <div class="col-lg-1" id="select">
    </div>
    <div class="col-lg-10 card">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Add Sub Event" name="subEvent">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="sub-event-button">Add Sub Event</button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 card">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Add Progress" name="progress">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="addProgress()">Add Progress</button>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1" id="list">

    </div>
</div>
<div class="row card" id="demo" style="display: none;">
    <div class="col-lg-3">
        <span class="date"></span>
    </div>
    <div class="col-lg-9">
        <span class="content"></span>
    </div>
</div>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../bundle/basic.bundle.daafdf03a6bbb205520f.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="../../bundle/timeLine.bundle.daafdf03a6bbb205520f.js"></script>
</body>
</html>