html, body {
    height: 100%;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    /*background-color: #bbbbbb;*/
    background-color: white;
    color: #544a68;
    width: 100%;
    margin: 0;
}

.card {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    /*overflow: hidden;*/
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px 0, rgba(0, 0, 0, 0.137255) 0 1px 1px 0, rgba(0, 0, 0, 0.117647) 0 2px 1px -1px
}

.word-wrap {
    word-wrap: break-word;
    word-break: break-all;
}

.point-cursor:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #544a68;
}

a:hover {
    color: #16bdc8;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

input, .ant-select-selection-selected-value {
    color: black !important;
}

.header-user {
    position: fixed;
    font-size: 23px;
    bottom: 0;
    left: 0;
}