/*.form {*/
/*width: 100%;*/
/*height: 100%;*/
/*overflow-x: auto;*/
/*overflow-y: hidden;*/
/*}*/

/*.section {*/
/*width: 20%;*/
/*height: 100%;*/
/*background-color: gray;*/
/*margin: 0 10px;*/
/*display: inline-block;*/
/*overflow-y: auto;*/
/*}*/

/*.section-item {*/
/*margin: 10px;*/
/*width: auto;*/
/*height: 100px;*/
/*background-color: black;*/
/*font-size: 2rem;*/
/*text-align: center;*/
/*line-height: 100px;*/
/*}*/

/*.section.over {*/
/*border: 2px dashed #000;*/
/*}*/

/*dashboard search*/

.d {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #eee;
}

.ds {
    padding: 12px;
}

.full-width {
    width: 100%;
}

.events {
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.events li {
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.events li span {
    vertical-align: middle;
}

.events li span:first-child {
    font-size: 9px;
    margin-right: 4px;
}

.event-1 {
    color: #fac450;
}

.event-2 {
    color: #2db7f5;
}

.event-3 {
    color: #f50;
}

.event-6 {
    color: #0647ff;
}

.event-5 {
    color: #544a68;
}
