.header-menu > .ant-menu-item {
    font-size: 16px;
}

.ant-menu-submenu-title {
    font-size: 16px !important;
}

.header {
    bottom: 0;
    left: 0;
    background: #404040;
    color: #999;
    width: 240px;
    height: 100%;
    overflow: hidden;
}