.manage {
    background-color: #eee;
    width: 100%;
    height: 100%;
}

.manage-header {
    width: 100%;
    height: 50px;
}

.manage-header > ul {
    list-style: none;
}

.manage-header > ul > li {
    width: 150px;
    float: left;
    cursor: pointer;
    color: #544a68;
}

.manage-header > ul > li:hover {
    color: #16bdc8;
}