.story-content {
    width: 100%;
    height: 100%;
    background-color: #efefef;
    padding: 10px;
    overflow: auto;
}

.ant-tabs-bar {
    margin-bottom: 0;
    background-color: white;
}

.ant-card-body {
    padding: 12px !important;
}

.ant-form-item-label {
    text-align: center;
}

.ant-input-number {
    width: 100%;
}